.Youtube{
    color: crimson;
}
.Google{
   color: rgb(4, 151, 48)
}
.Facebook{
    color: rgb(6, 10, 228);
}
.Instagram{
    color: rgba(165, 12, 170, 0.753);
}
p{
    background-color: rgb(195, 255, 127);
    margin: 15px;
    padding: 15px;
    border: 5px solid 
}

p{
    font-style: italic; 
    font-weight: 800;
}